body {
    background-color: rgb(19, 19, 24);
    margin: 20px;
    height: calc(100vh - 40px);
}

#hosts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}

.host {
    width: 150px;
    background-color: rgb(28, 28, 33);
    border-radius: 10px;
    border: 2px solid rgb(32, 32, 48);
    position: relative;
    margin: 5px;
}

.host>h3 {
    color: rgb(196, 196, 196);
    font-family: Arial, Helvetica, sans-serif;
    height: 24px;
    margin-left: 10px;
    margin-top: 5px;
    width: calc(100% - 50px);
}

.host>.edit {
    width: 24px;
    height: 24px;
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
    border: 0px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.host>.edit>* {
    color: rgb(196, 196, 196);
}

.host>.connect {
    width: calc(100% - 10px);
    margin: 15px auto 5px;
    display: block;
    padding: 0px;
    border-radius: 5px;
    border: 0px;
    background-color: rgb(48, 48, 48);
    color: rgb(196, 196, 196);
    height: 25px;
    position: relative;
    cursor: pointer;
}

#addButton {
    background-color: rgb(48, 48, 48);
    color: rgb(196, 196, 196);
    font-size: 1.5rem;
    text-align: center;
    border-radius: 5px;
    border: 0px;
    padding: 0px;
    position: absolute;
    cursor: pointer;
    height: 25px;
    width: 25px;
    top: 10px;
    right: 10px;
}

#settings {
    background-color: rgb(28, 28, 33);
    border: 2px solid rgb(32, 32, 48);
    color: rgb(196, 196, 196);
    font-size: 1.25rem;
    border-radius: 5px;
    width: 50%;
    padding: 5px;
    pointer-events: all;
}

#settings>button{
    background-color: rgb(48, 48, 48);
    border: 0px;
    border-radius: 5px;
    color: rgb(196, 196, 196);
    font-size: 1.5rem;
    cursor: pointer;
}

#settings>[name="close"] {
    width: 30px;
    margin-left: calc(100% - 35px);
}

#settings>[name="add"] {
    width: 60px;
    margin-left: calc(50% - 30px);
    margin-top: 5px;
}

.setting {
    position: relative;
    border-bottom: 2px solid rgb(96, 96, 96);
    padding: 5px 0px;
}

.setting>input {
    position: absolute;
    right: 5px;
    background-color: rgb(48, 48, 48);
    border: 0px;
    border-radius: 5px;
    height: 1em;
    padding: 1px 2px;
    font-size: inherit;
    margin: 1.5px 0px;
    outline: none;
    color: rgb(196, 196, 196);
    min-width: 100px;
    max-width: 75%;
    width: 100px;
}

#views {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    align-content: center;
    pointer-events: none;
}

.hide {
    display: none;
}