body {
    background-color: rgb(19, 19, 24);
    margin: 20px;
    display: flex;
}

.host {
    width: 150px;
    background-color: rgb(28, 28, 33);
    border-radius: 10px;
    border: 2px solid rgb(32, 32, 48);
    position: relative;
}

.host > h3 {
    color: rgb(196, 196, 196);
    font-family: Arial, Helvetica, sans-serif;
    height: 24px;
    margin-left: 10px;
    margin-top: 10px;
    width: calc(100% - 50px);
}

.host > .edit {
    width: 24px;
    height: 24px;
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
    border: 0px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.host > .edit > * {
    color: rgb(196, 196, 196);
}

.host > .connect {
    width: calc(100% - 10px);
    margin: 15px auto 5px;
    display: block;
    padding: 0px;
    border-radius: 5px;
    border: 0px;
    background-color: rgb(48, 48, 48);
    color: rgb(196, 196, 196);
    height: 25px;
    position: relative;
}